#box {
    height: 600px;
    weight: 800px;
}

.btn {
    border: 2px solid rgb(148, 142, 64);
    background-color: rgb(214, 180, 85);
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
